parameters:
    level: 0
    paths:
        - app/Services/MarketCacheService.php
        - app/Http/Middleware/HttpCacheHeaders.php
        - app/Models/Setting.php
    ignoreErrors:
        - '#Call to an undefined static method App\\Models\\[a-zA-Z0-9_]+::[a-zA-Z0-9_]+\(\)#'
